@charset "UTF-8";

/* Style body */
body {
	background: linear-gradient(to bottom, rgb(3, 3, 109), rgb(144, 176, 236));
	color: #0d2ee7;
}

/* Style header et footer */

header {
	width: 99%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(to right, rgb(3, 3, 109), rgb(144, 176, 236));
	border: solid;
	border-color: red;
	border-style: outset;
	border-width: 10px;
	border-radius: 20px;
}
header h1 {
	font-size: 80px;
	color: rgba(255, 0, 0, 0.548);
}
header img {
	width: 6%;
	border-radius: 20px;
	padding: 15px;
}

nav.nav_liste {
	width: 15%;
	text-align: center;
	padding: 50px;
}
nav.nav_liste li {
	font-size: 25px;
	list-style: none;
}

/* Style footer */
footer {
	width: 100%;
	background: linear-gradient(to right, rgb(3, 3, 109), rgb(144, 176, 236));
	border-radius: 20px;
}
footer h3 {
	width: 50%;
	font-size: 30px;
	margin: auto;
	text-align: center;
	padding: 40px;
}

/* Style categories */

section.the_best_movie {
	display: flex;
	flex-direction: column;
}
section.the_best_movie h2 {
	font-size: 60px;
}
section.the_best_movie img {
	width: 20%;
	padding: 40px;
}
section.the_best_movie div.description {
	display: flex;
	width: 100%;
}
section.the_best_movie div.description div h1 {
	font-size: 40px;
}
section.the_best_movie div.description div p {
	font-size: 30px;
}
section.best_movies img {
	width: 10%;
	padding: 35px;
}
section.best_movies h2 {
	font-size: 40px;
}
section.best_movies p {
	font-size: 20px;
}
